# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

/gcc-arm-10.3-2021.07-x86_64-aarch64-none-linux-gnu/
/gcc-arm-10.3-2021.07-x86_64-arm-none-eabi/
/gcc-arm-10.3-2021.07-x86_64-arm-none-linux-gnueabihf/
/tools

zelfbinary

