div.year-month-selection-frame {
	padding: 3px 5px 3px 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	background-color: #EEEEEE;
	border-top: 1px dotted #CCCCCC;
	border-bottom: 1px dotted #CCCCCC; }
	
div.year-month-selection-frame a {
	text-decoration: none; }

table.calendar {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse; }

td.calendar-day-name {
	font-weight: bold;
	padding: 3px;
	background-color: #EEEEEE; }

table.calendar td {
	width: 14%;
	vertical-align: top;
	border: 1px solid #CCCCCC; }

div.calendar-day {
	padding: 3px;
	font-weight: normal; }
	
div.calendar-day-events {
	min-height: 60px; }

table.calendar td div {
	overflow: hidden; }

td.calendar-day-other-month {
	background-color: #EEEEEE; }
	
div.calendar-event {
	cursor: default;
	padding: 3px;
	border-top: 1px dotted #CCCCCC; }
	
div.calendar-event-focused {
	background-color: #DDEEFF;
	cursor: default;
	padding: 3px;
	border-top: 1px dotted #CCCCCC; }
	
div.calendar-seminar-title {
	font-weight: bold; }

div.calendar-seminar-speaker {
	font-style: italic; }
	
div.calendar-seminar-more-info {
	}
	
span.calendar-popup-place-label,
span.calendar-popup-time-label {
	}

div.calendar-event-description {
	width: 300px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #88BBEE; }
